
@{
    ViewBag.Title = "Index";
}
<h1>@ViewBag.Message</h1>
<h2>Posts</h2>

<a class="btn btn-primary" href="/Groups/Index">Show groups</a>

<a class="btn btn-primary" href="/Posts/New">Add post</a>
<br />

@foreach (var post in ViewBag.Posts)
{if (post.GroupId == null)
    {
        <div class="panel panel-default">

            <div class="panel-heading">@post.Title</div>
            <div class="panel-body">
                Content: <strong>@post.Content</strong>
                <br />
                <span class="label label-success">@post.Date</span>
                <br />
                @* <i class="glyphicon glyphicon-globe"></i> @post.Group.Name*@
            </div>
            <div class="panel-footer">
                <a class=" btn btn-sm btn btn-success" href="/Posts/Show/@post.PostId">Show more</a>
            </div>
        </div>
    }
}
