@model Micro_Social_Platform.Models.Post

@if (Model.GroupId!=null)
{
    @ViewBag.gr.Name
}

@using (Html.BeginForm(actionName: "New", controllerName: "Posts"))


{
    @Html.Hidden("GroupId")
    @Html.Label("Title", "Title Post")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Content", "Content Post")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control" })
    <br /><br />

    <button class="btn btn-sm btn-success" type="submit">Submit</button>

}


